/* Design reference: https://codepen.io/mycnlz/pen/reLOZV */

/* basic */
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.payment-body {
  /* height: 100%; */
}
.payment-body {
  font: 16px/1.2 "Roboto", sans-serif;
  color: #333;
}

/* ui_btn */
.ui_btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
}
.b_lg {
  padding: 8px;
  font-size: 14px;
}

.b_primary {
  border: 1px solid #333;
}

.b_primary:hover {
  background-color: red;
  color: #f1f1f1;
  font-weight: bold;
  transition: 0.8s;
}

/* formfield */
input {
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: snow;
}

/* custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* container */
.container-checkout {
  display: flex;
  border-radius: 10px;
  background-color: snow;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: hidden;
}

/* box */
.box {
  width: 100%;
  padding: 24px;
}
.box .head {
  margin-bottom: 16px;
  color: orangered;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* order_box */
/* .order_box {

} */

/* listCard */
.flex {
  display: flex;
  gap: 4%;
}
img {
  width: 100%;
}
.product_img {
  width: 80px;
  height: auto;
}
.prod-title {
  font-weight: bold;
  font-size: 20px;
}
.mt-5 {
  margin-top: 5%;
}
.info-prod {
}
.listCard {
  height: 307px;
  overflow: auto;
}
.listCard li {
  display: flex;
  padding: 8px 0;
}
.listCard li + li {
  border-top: 1px solid #ccc;
}
.listCard .prod_img {
  font-size: 0;
  width: 60px;
  height: 60px;
}
.listCard .prod_info {
  padding: 0 8px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.count {
  font-size: 18px;
  font-weight: bold;
}
.font-price {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}
.listCard .prod_info .name {
  flex-grow: 1;
}
.listCard .prod_info .price {
  color: crimson;
  font-size: 14px;
  font-weight: bold;
}
.bottom {
  /* margin-top: 9%; */
}
.flex .info-prod .quantity button {
  background-color: #000000;
  border: none;
  width: 20px;
  color: #f1f1f1;
}

/* total_price */
.total_price .total {
  text-align: right;
  color: crimson;
  font-size: 32px;
  font-weight: bold;
}

/* payment_box */
.payment_box {
  width: 400px;
  box-shadow: -1px 0 5px 1px #ccc;
  background: linear-gradient(
    0deg,
    rgba(230, 100, 101, 0.5),
    rgba(145, 152, 229, 0.5)
  );
  position: relative;
}
.payment_box .card_img {
  height: 180px;
  padding: 16px;
  margin-bottom: 16px;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  background-color: crimson;
  overflow: hidden;
}
.payment_box .card_img:before,
.payment_box .card_img:after {
  content: "";
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(20, 0, 0, 0.1);
  position: absolute;
  z-index: 1;
}
.payment_box .card_img:before {
  top: 40%;
  right: -40%;
}
.payment_box .card_img:after {
  top: -40%;
  left: -40%;
}
.payment_box .card_img .fa-cc-visa {
  color: white;
  font-size: 32px;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2;
}
.payment_box .card_info {
  margin-top: 10px;
  color: white;
  text-shadow: 1px 1px 2px black;
  position: relative;
  z-index: 2;
}
.payment_box .card_info dt {
  margin-bottom: 4px;
  color: lightgray;
  font-size: 12px;
  text-transform: uppercase;
}
.payment_box .card_info li {
  display: inline-block;
}
.payment_box .card_info li + li {
  margin-left: 4px;
}
.payment_box .number {
  margin-bottom: 12px;
}
.payment_box .expiration,
.payment_box .cvc {
  display: inline-block;
  width: calc(50% - 2px);
}
.payment_box .card_form {
  flex-grow: 1;
}
.payment_box .card_form .footer {
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 24px;
}
