* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #d2d5d6;
  font-family: 'open sans', sans-serif;
}
:root {
  --first-color: hsl(31, 100%, 70%);
  --border-color: hsl(0, 0%, 94%);
}
#container-header {
  background-color: white;
  margin: auto;
  text-align: center;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  font-family: "Lato", sans-serif;
  grid-template-columns: repeat(2, 1.5fr) 1fr 1.5fr;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-sizing: border-box;
  position: fixed;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}
body.dark #container-header {
  background-color: #3d3d3d;
  color: white;
}
#shopName {
  font-size: 25px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.2rem;
}
#shopName:active {
  animation: clickMove 0.3s;
}
#shopName a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}
#shopName b {
  font-weight: 900;
  font: black;
}
body.dark #shopName a {
  color: white;
}
.MAVEN {
  color: red;
  font-weight: 300;
}

#collection {
  font-weight: bold;
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-gap: 1rem;
}
#collection a {
  text-decoration: none;
  color: rgb(29, 29, 29);
  letter-spacing: 2px;
}
.search {
  padding: 14px;
  color: rgb(29, 29, 29);
  min-width: 25px;
  text-align: center;
  position: absolute;
  margin-left: 2rem;
}
#input {
  width: 35em;
  height: 3em;
  padding: 2px 50px;
  background-color: rgb(241, 241, 241);
  border: none;
  border-radius: 5px;
  outline: none;
  transition: all 0.2s;
  margin-left: 2rem;
}
#input:focus{
  background-color: rgb(227, 226, 226);
}

#user {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.dark-link{
  color: rgb(221, 221, 221) !important;
}

.userIcon {
  font-size: 2.4rem;
}
.signout {
  width: 2.3rem;
  cursor: pointer;
}
.dark-icon {
  height: 2.7rem;
  cursor: pointer;
  margin-right: 2rem;
}
.dark {
  background-color: #1c1f25;
}

/* header finished*/

/* footer components*/
.w3-content {
  margin: auto;
  width: 90%;
  text-align: center;
  padding-top: 100px;
  box-sizing: border-box;
}
.w3-content img {
  width: 100%;
  height: 140%;
  text-align: center;
  align-content: center;
}
.containerHeader {
  width: 1000px;
  margin: auto;
  transition: 0.5s;
}
.title-header {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #3a3939, #9c0606);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
header {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 50px;
}


header .shopping {
  position: relative;
  text-align: right;
}
header .shopping img {
  width: 40px;
  cursor: pointer;
}
header .shopping span {
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -5px;
  left: 80%;
  padding: 3px 10px;
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 50px;
}
.card {
  position: fixed;
  top: 0;
  left: 100%;
  width: 400px;
  background-color: #453e3b;
  height: 100vh;
  transition: 0.7s;
  padding-top: 4%;
  display: flex;
  flex-direction: column;
}
.card-header {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card .card-header h1 {
  background-color: #e8bc0e;
  color: #000000d7;
  margin: 0;
  justify-content: center;
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 4%;
  font-size: 20px;
}

.card .card-header a {
  background-color: #1c1f25;
  color: #000000d7;
  margin: 0;
  justify-content: center;
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 4%;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.card .checkout {
  position: sticky; /* Change position to sticky */
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #d2d5d6;
  font-family: system-ui;
  transition: 1s all ease;
}
.card .checkout div {
  background-color: #e8bc0e;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.card .checkout div:nth-child(2) {
  background-color: #1c1f25;
  color: #fff;
  cursor: pointer;
}
.active .card {
  left: calc(100% - 400px);
}
.active .containerHeader {
  transform: translateX(-15%);
}
.list .item {
  height: 450px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.66);

  border-radius: 37px;
  box-shadow: 1px 8px 32px hsla(0, 0%, 10%, 0.1);
  margin-top: 20px;
  position: relative;
  padding: 1.25rem 0;
  border: 1px solid var(--border-color);
  transition: 0.3s;
}
.list .item:hover {
  box-shadow: 1px 1px 13px 1px rgb(74, 74, 74);
}

.list .item img {
  width: 85%;
  height: 300px;
  display: block;
  margin: 0 auto;
  padding: 10%;
  transition: 0.5s;
}
.list .item img:hover {
  width: 95%;
  height: 310px;
  transition: 0.5s;
}
.list .item .title {
  font-weight: 600;
  height: 40px;
  padding-left: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list .item .price {
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 53%;
}
.price .price-value {
  font-size: 20px;
  font-weight: 600;
}
.list .item .rating .rate {
  font-weight: 600;
  font-size: 16px;
}

.star {
  font-size: 22px;
  margin-left: 3px;
  color: var(--first-color);
  margin-top: 10px;
}
.listCard {
  height: 80vh;
  overflow: auto;
}
.list .item button {
  background-color: #1c1f25;
  color: #fff;
  padding: 10px;
  width: 100.5%;
  border-radius: 7px;
}
.listCard li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listcard li div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listCard li img {
  width: 90%;
  padding: 5%;
  border-radius: 30px;
  border: 2px solid black;
  box-shadow: 1px 1px 10px 1px rgb(123, 123, 123);
}
.listCard button {
  width: auto;
  background-color: #fff5;
  border: none;
  width: 20px;
}
.listCard .count {
  margin: 0 10px;
}
.container.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.showMore {
  background-color: #bdbdff;
  color: rgb(54, 0, 249);
  width: 54%;
  font-weight: 600;
  font-size: 18px;
  border: 2px solid #1414ff;
  padding: 14px;
  text-transform: uppercase;
  transition: 1s all ease;
  border-radius: 17px;
  margin-top: 3%;
}

.showMore:hover {
  background-color: #1414ff;
  color: #fff;
}
/* end of the page */
/* Add this CSS code at the end of your existing CSS */

html,
body {
  height: 100%;
}

.container-checkout {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: rgb(29, 29, 29);
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  padding: 15px 300px;
  box-sizing: border-box;
  margin-top: auto; /* Push the footer to the bottom */
}

footer h3:hover,
footer p:hover {
  color: lightslategray;
  cursor: pointer;
}

/* Remove duplicate footer CSS code */
#containerFooter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#webFooter {
  padding-top: 30px;
  font-size: 12px;
}

/* description page css */

.containerHeader-desc {
  display: flex;
  justify-content: end;
  margin: auto;
  transition: 0.5s;
}
.description-h1 {
  position: relative;
}
.description-img {
  width: 80%;
  height: auto;
  padding: 10%;
  background-color: #e0dfdfcb;
  border-radius: 30px;
  box-shadow: 1px 1px 10px 1px rgb(123, 123, 123);
}
.description-h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-weight: 700;
  background-image: linear-gradient(to right, #3a3939, #757575);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.price-rating {
  display: flex;
  gap: 30%;
}
.rate-desc {
  font-size: 30px;
  position: absolute;
  margin-left: 27%;
  margin-top: 0.5%;
}
.star-desc {
  position: absolute;
  margin-left: 35%;
  font-size: 35px;
  margin-top: -0.01%;
}
.description {
  font-weight: 600;
  font-size: 20px;
}
.desc-price {
  font-weight: 700;
  font-size: 30px;
}
.button-desc {
  font-size: 20px;
  width: 30%;
  height: auto;
  border: 1px solid black;
  border-radius: 12px;
  transition: 0.8s;
}

.button-desc:hover {
  background-color: #1c1f25;
  color: white;
  transition: 0.8s;
  font-size: 24px;
}
.item-random {
  height: 450px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.66);

  border-radius: 37px;
  box-shadow: 1px 8px 32px hsla(0, 0%, 10%, 0.1);
  margin-top: 20px;
  position: relative;
  padding: 1.25rem 0;
  border: 1px solid var(--border-color);
  transition: 0.3s;
}
.desc-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.desc-imgCard {
  width: 90%;
  padding: 5%;
  border-radius: 30px;
  border: 2px solid black;
  box-shadow: 1px 1px 10px 1px rgb(123, 123, 123);
}
footer {
  width: 100%;
  background-color: black;
}

@keyframes clickMove {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}
/* 
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1268px) {
  #shopName {
    font-size: 22px;
    font-family: "Lato", sans-serif;
  }
  #collection {
    font-size: 80%;
  }
  #input {
    width: 20em;
  }
} */
/* 
@media screen and (max-width: 980px) {
  #container-header {
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    padding: 10px 30px;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 30px;
    justify-content: center;
  }
  .list .item {
    width: 40%;
  }
  header .shopping {
    right: 0%;
    position: absolute;
    text-align: right;
  }
  header .shopping img {
    width: 40px;
    cursor: pointer;
  }

  .w3-content {
    visibility: hidden;
  }
  .media-btn {
    width: 1000px;
  }
} */

/* @media screen and (max-width: 760px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .list .item {
    width: 55%;
  }

  .w3-content {
    visibility: hidden;
  }
}

@media screen and (max-width: 420px) {
  header .shopping {
    margin-left: -80%;
    position: relative;
  }
} */
